<div id="products-list-container" class="ajax-content ajax mb-30">
  <div class="spinner-linear">
    <div class="line"></div>
  </div>
  <div class="ajax-overlay"></div>

  <div class="card">
    <div class="card-body">
      <div class="flexbox mb-20">
        <span class="flex-grow">
          <form id="search-products" action="javascript:;">
            <div class="input-group">
              <input type="search" class="form-control" name="search">
              <span class="input-group-append">
                <button class="btn btn-primary i18n" style="z-index: auto">
                  <span data-lang="en_us">Search</span>
                  <span data-lang="pt_br">Buscar</span>
                </button>
              </span>
            </div>
          </form>
        </span>

        <div class="dropdown" id="order-products">
          <button class="btn btn-light" type="button" data-toggle="dropdown">
            <i class="fa fa-sort"></i>
            <span class="i18n hidden-sm-down">
              <span data-lang="en_us">Order</span>
              <span data-lang="pt_br">Ordenar</span>
            </span>
          </button>
          <div class="dropdown-menu">
            <a href="javascript:;" class="dropdown-item active" data-field="_id" data-sort="desc">
              ID <i class="ml-1 fa fa-caret-down text-warning"></i>
            </a>
            <a href="javascript:;" class="dropdown-item" data-field="views">
              <span class="i18n">
                <span data-lang="en_us">Views</span>
                <span data-lang="pt_br">Visualizações</span>
              </span>
            </a>
            <a href="javascript:;" class="dropdown-item" data-field="sales">
              <span class="i18n">
                <span data-lang="en_us">Sales</span>
                <span data-lang="pt_br">Vendas</span>
              </span>
            </a>
            <a href="javascript:;" class="dropdown-item" data-field="price">
              <span class="i18n">
                <span data-lang="en_us">Price</span>
                <span data-lang="pt_br">Preço</span>
              </span>
            </a>
            <a href="javascript:;" class="dropdown-item" data-field="quantity">
              <span class="i18n">
                <span data-lang="en_us">Quantity</span>
                <span data-lang="pt_br">Quantidade</span>
              </span>
            </a>
          </div>
        </div>

        <span class="btn-group">
          <a class="btn btn-light" href="#qvx" data-toggle="quickview">
            <i class="fa fa-filter"></i>
            <span class="i18n hidden-sm-down">
              <span data-lang="en_us">Filter results</span>
              <span data-lang="pt_br">Filtrar resultados</span>
            </span>
          </a>
          <button class="btn btn-light" type="button" id="clear-products-filters">
            <i class="fa fa-eraser"></i>
          </button>
        </span>

        <div class="dropdown" id="products-bulk-action">
          <button class="btn btn-success edit-selected" type="button" data-toggle="">
            <i class="fa fa-pencil"></i>
            <span class="i18n">
              <span data-lang="en_us">
                Edit <span class="hidden-md-down">selected</span>
              </span>
              <span data-lang="pt_br">
                Editar <span class="hidden-md-down">selecionados</span>
              </span>
            </span>
          </button>
          <div class="dropdown-menu">
            <a href="javascript:;" data-toggle="modal" data-target="#modal-center" class="dropdown-item" data-edit="stock">
              <span class="i18n">
                <span data-lang="en_us">Stock and prices</span>
                <span data-lang="pt_br">Estoque e preços</span>
              </span>
            </a>
            <a href="javascript:;" data-toggle="modal" data-target="#modal-center-1" id="setCategory" class="dropdown-item" data-edit="category">
              <span class="i18n">
                <span data-lang="en_us">Categories</span>
                <span data-lang="pt_br">Categorias</span>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div id="products-list-results"></div>
      <div class="prev-empty i18n lead">
        <span data-lang="en_us">No products found</span>
        <span data-lang="pt_br">Nenhum produto encontrado</span>
      </div>
    </div>

    <footer class="card-footer">
      <button class="btn btn-light" id="load-products">
        <i class="fa fa-refresh"></i>
        <span class="i18n">
          <span data-lang="en_us">Load more</span>
          <span data-lang="pt_br">Carregar mais</span>
        </span>
      </button>

      <div class="mt-3" id="products-list-info">
        <span class="lead mr-2">
          <span class="i18n">
            <span data-lang="en_us">Showing</span>
            <span data-lang="pt_br">Mostrando</span>
          </span>
          <strong class="text-primary" id="products-list-count">0</strong>
          <span class="i18n">
            <span data-lang="en_us">of total</span>
            <span data-lang="pt_br">do total</span>
          </span>
          <strong id="products-list-total">0</strong>
        </span>
        <span class="badge badge-lg badge-default">
          <span class="i18n mr-1 text-muted">
            <span data-lang="en_us">Avg price</span>
            <span data-lang="pt_br">Preço médio</span>
          </span>
          <span id="products-avg-price"></span>
        </span>
        <div class="mt-2 custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="select-all-products"/>
            <label class="custom-control-label i18n text-muted">
              <span data-lang="en_us">Select all products</span>
              <span data-lang="pt_br">Selecionar todos os produtos</span>
            </label>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<div class="modal modal-center fade" id="modal-center" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="i18n">
            <span data-lang="en_us"></span>
            <span data-lang="pt_br"></span>
          </span>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="i18n">
          <span data-lang="en_us">Edit price</span>
          <span data-lang="pt_br">Editar preço</span>
        </label>
        <div class="flexbox">
          <div class="form-group">
            <input class="form-control" type="tel" id="priceToSell" data-is-number="true" data-money="true"/>
            <small class="form-text i18n">
              <span data-lang="en_us">Seller price fixed</span>
              <span data-lang="pt_br">Fixar preço de venda</span>
            </small>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" id="discountSell" maxlength="99" data-is-number="true"/>
            <small class="form-text i18n">
              <span data-lang="en_us">Discount</span>
              <span data-lang="pt_br">Desconto</span>
            </small>
          </div>
        </div>
        <label class="i18n">
          <span data-lang="en_us">Quantity</span>
          <span data-lang="pt_br">Quantidade</span>
        </label>
        <div class="flexbox">
          <div class="form-group">
            <input class="form-control" type="number" data-is-number="true"/>
            <small class="form-text i18n" id="quantityFixed">
              <span data-lang="en_us">Quantity fixed</span>
              <span data-lang="pt_br">Fixar quantidade</span>
            </small>
          </div>
          <div class="form-group">
            <input class="form-control" id="startDate" type="tel" data-mask="date" data-is-number="true"/>
            <small class="form-text i18n">
              <span data-lang="en_us">Promo start date</span>
              <span data-lang="pt_br">Data inicial da promoção</span>
            </small>
          </div>
          <div class="form-group">
            <input class="form-control" id="endDate" type="tel" data-mask="date" data-is-number="true"/>
            <small class="form-text i18n">
              <span data-lang="en_us">Promo end date</span>
              <span data-lang="pt_br">Data final da promoção</span>
            </small>
          </div>
        </div>
        <div id="spinner-wait-edit" style="display: none">
          <center>
            <div class="spinner-circle-material"></div>
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">
          <span class="i18n">
            <span data-lang="en_us">Cancel</span>
            <span data-lang="pt_br">Cancelar</span>
          </span>
        </button>
        <button type="button" class="btn btn-bold btn-pure btn-primary" id="saveModal">
          <span class="i18n">
            <span data-lang="en_us">Save</span>
            <span data-lang="pt_br">Salvar</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-center fade" id="modal-center-1" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="i18n">
            <span data-lang="en_us">Mass add to category</span>
            <span data-lang="pt_br">Adicionar em massa categorias</span>
          </span>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="flexbox">
          <div class="form-group w-100">
            <label class="i18n">
              <span data-lang="en_us">Categories</span>
              <span data-lang="pt_br">Categorias</span>
            </label>
            <select class="form-control show-tick" data-live-search="true" name="categories"
              placeholder="Camisas"
              data-json="true"
              id="categoryMass">
            </select>
          </div>
        </div>
        <div id="spinner-wait" style="display: none">
          <center>
            <div class="spinner-circle-material"></div>
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">
          <span class="i18n">
            <span data-lang="en_us">Cancel</span>
            <span data-lang="pt_br">Cancelar</span>
          </span>
        </button>
        <button type="button" class="btn btn-bold btn-pure btn-primary" id="saveModalCat">
          <span class="i18n">
            <span data-lang="en_us">Save</span>
            <span data-lang="pt_br">Salvar</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
