@import 'scss/_variables.scss';
@import 'fonts.css';

// notification
.toast {
  background-color: $color-orange;
}

// checkbox switch
.switch input:checked ~ .switch-indicator {
  background: rgba($color-primary, .25);
}

// sidebar menu
.sidebar:not(.sidebar-light) .sidebar-navigation {
  background-color: darken($sidebar-header-bg, 5.5%);
}
.sidebar:not(.sidebar-light) .sidebar-navigation > .menu > .menu-item > .menu-link {
  color: rgba($white, .75);
}
.sidebar:not(.sidebar-light) .sidebar-navigation > .menu > .menu-item:hover > .menu-link {
  color: $white;
  background-color: darken($sidebar-header-bg, 7.4%);
}
.sidebar:not(.sidebar-light) .sidebar-navigation .menu-submenu {
  background-color: darken($sidebar-header-bg, 8.1%);
}
.sidebar:not(.sidebar-light) .menu-submenu .menu-link {
  opacity: 1;
  color: rgba($white, .55);
}
.sidebar:not(.sidebar-light) .menu-submenu .menu-item:hover > .menu-link {
  color: $white;
}
.sidebar:not(.sidebar-light) .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: rgba($white, .35);
}

.header-action .nav-link.active,
.header-action .nav-link:hover {
  border-bottom-color: $color-green;
}
.topbar-btn:hover,
.topbar .dropdown.show .topbar-btn {
  border-top-color: $color-green;
}
.spinner-linear .line {
  background-color: $color-green;
}

.sidebar-header > .logo-icon {
  display: none;
}
.sidebar-folded .sidebar-header > * {
  display: none;
}
.sidebar-folded .sidebar-header > .logo-icon {
  display: block;
}
.sidebar-folded .sidebar:hover .sidebar-header > * {
  display: block;
}
.sidebar-folded .sidebar:hover .sidebar-header > .logo-icon {
  display: none;
}
.sidebar-header > * {
  transition: none;
}

/* Fade effect */
.sidebar-folded .sidebar-header > .logo {
  opacity: 0;
}
.sidebar-folded .sidebar:hover .sidebar-header > .logo {
  opacity: 1;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// language variations
.i18n > *,
.after-i18n {
  display: none;
}

// ajax utility classes
.ajax-form {
  position: relative;
}
.ajax-overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(255, 255, 255, 0.7);
}
.ajax > .ajax-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// horizontal scroll on app nav tabs
#app-tabs.scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#app-tabs.scrollable > .ps-scrollbar-x-rail {
  top: 2px !important;
}
#app-tabs.scrollable > .nav {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  min-width: 100%;
}

// SPA, ajax router
#router {
  position: relative;
}
#router > .loading {
  position: absolute;
  display: none;
  z-index: 3;
}
#router,
#route-content {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#route-content > * {
  display: none;
}

.btn-avatar {
  width: 65px;
  height: 65px;
  position: relative;
}
.btn-avatar .badge {
  border: 2px solid $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 13px;
  left: 13px;
}
.btn-avatar.has-new .badge {
  display: block;
}

#search-results {
  position: absolute;
  display: none;
  z-index: 9;
  margin-top: 1px;
}

// prevent window width change
/*
main.scrollable {
  max-height: 100vh;
}
main.scrollable > .ps-scrollbar-y-rail {
  z-index: 100;
}
main.scrollable > .main-content {
  padding-bottom: 60px;
}
*/
body {
  overflow-y: scroll !important;
}
// fix modal window width bugs
.modal-open,
.modal-open .modal {
  padding-right: 0 !important;
}
.modal-open .topbar {
  padding-right: 18px;
}

.dock-list,
.modal-open .dock-list {
  z-index: 1001;
}
#dock-chat {
  max-width: 75%;
}
.dock-header-inverse .dock-actions > * {
  opacity: 1;
}

.quickview {
  z-index: 1002;
}

// fix icon alignment
.topbar-btn.sidebar-toggler {
  padding-top: 4px;
  line-height: 60px;
  font-size: 33px;
  margin-right: 10px;
}

// large search bar
.topbar .topbar-left,
.topbar .lookup {
  width: 100%;
}
.topbar .lookup-circle input:focus {
  background-color: rgba($color-purple, .1);
  color: $color-purple;
}

// JSON code editor
#code-editor {
  height: 500px;
}

@media (max-width: 500px) {
  .topbar-btn {
    padding: 0 4px;
    min-width: 34px;
  }
  .topbar-divider {
    display: none;
  }

  .breadcrumb {
    display: none;
  }
}

#dashboard {
  display: none;
}

// utilities
.fs-200 {
  font-size: 200px;
}
