@import 'scss/_variables.scss';
@import 'fonts.css';

// notification
.toast {
  background-color: $color-orange;
}

// checkbox switch
.switch input:checked ~ .switch-indicator {
  background: rgba($color-primary, .25);
}

// sidebar menu
.sidebar:not(.sidebar-light) .sidebar-navigation {
  background-color: darken($sidebar-header-bg, 5.5%);
}
.sidebar:not(.sidebar-light) .sidebar-navigation > .menu > .menu-item > .menu-link {
  color: rgba($white, .75);
}
.sidebar:not(.sidebar-light) .sidebar-navigation > .menu > .menu-item:hover > .menu-link {
  color: $white;
  background-color: darken($sidebar-header-bg, 7.4%);
}
.sidebar:not(.sidebar-light) .sidebar-navigation .menu-submenu {
  background-color: darken($sidebar-header-bg, 8.1%);
}
.sidebar:not(.sidebar-light) .menu-submenu .menu-link {
  opacity: 1;
  color: rgba($white, .55);
}
.sidebar:not(.sidebar-light) .menu-submenu .menu-item:hover > .menu-link {
  color: $white;
}
.sidebar:not(.sidebar-light) .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: rgba($white, .35);
}

.header-action .nav-link.active,
.header-action .nav-link:hover {
  border-bottom-color: $color-green;
}
.topbar-btn:hover,
.topbar .dropdown.show .topbar-btn {
  border-top-color: $color-green;
}
.spinner-linear .line {
  background-color: $color-green;
}

.sidebar-header > .logo-icon {
  display: none;
}
.sidebar-folded .sidebar-header > * {
  display: none;
}
.sidebar-folded .sidebar-header > .logo-icon {
  display: block;
}
.sidebar-folded .sidebar:hover .sidebar-header > * {
  display: block;
}
.sidebar-folded .sidebar:hover .sidebar-header > .logo-icon {
  display: none;
}
.sidebar-header > * {
  transition: none;
}

/* Fade effect */
.sidebar-folded .sidebar-header > .logo {
  opacity: 0;
}
.sidebar-folded .sidebar:hover .sidebar-header > .logo {
  opacity: 1;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  margin-bottom: 0;
}

// language variations
.i18n > *,
.after-i18n {
  display: none;
}

// ajax utility classes
.ajax-form,
.ajax-content {
  position: relative;
}
.ajax-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: 0;
  background: rgba(255, 255, 255, 0.7);
}
.ajax-overlay:not(:empty) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.ajax > .ajax-overlay {
  opacity: 1;
  z-index: 501;
}
.ajax-content > .spinner-linear,
.ajax-form > .spinner-linear {
  display: none;
  position: absolute;
  z-index: 502;
}
.ajax > .spinner-linear {
  display: block;
}
.ajax-cards .card,
.ajax-overlay {
  transition: 0.4s linear;
}
.ajax-cards.ajax .card {
  opacity: 0;
}

// horizontal scroll on app nav tabs
#app-tabs {
  position: relative;
  padding: 0 75px;
  background-color: $white;
  box-shadow: 3px 0 5px rgba($black, .05);
  z-index: 3;
}
#app-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
#app-nav-container > .scrollable > .ps-scrollbar-x-rail {
  top: 2px !important;
}
#app-nav-container > .scrollable > .ps-scrollbar-y-rail {
  display: none !important;
}
#app-nav-container > .scrollable > .nav {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
#app-tabs .nav {
  min-height: 53px;
  border-bottom: none;
}
#app-tabs .nav-link {
  height: 100%;
  border-bottom: none;
  border-top: 1px solid transparent;
}
#app-tabs .nav-link:hover {
  border-top-color: lighten($color-purple, 35%);
}
#app-tabs .nav-link.active {
  background-color: rgba($color-pale-purple, .2);
  border-top-color: lighten($color-purple, 20%);
}
#app-tabs .nav-item {
  position: relative;
  // show with jQuery
  display: none;
}
#app-tabs .nav-item > .close-tab {
  cursor: pointer;
  position: absolute;
  font-size: 10px;
  right: 6px;
  top: 6px;
  opacity: 0;
  transition: 0.2s linear;
}
#app-tabs .nav-item:hover > .close-tab {
  opacity: .35;
}
#app-tabs .nav-item > .close-tab:hover {
  opacity: .85;
}
#app-tabs > a {
  position: absolute;
  top: 0;
  padding: 16px 15px 0 15px;
  height: 100%;
  font-size: 20px;
  text-align: center;
  z-index: 1;
  background: $white;
}
a#new-tab {
  left: 20px;
  color: $color-purple;
}
a#close-current-tab {
  right: 20px;
  color: $color-text-disable;
}
#app-tabs > a:hover {
  color: lighten($color-purple, 20%);
}

// SPA, ajax router
#router {
  position: relative;
}
#router > .loading {
  position: absolute;
  display: none;
  z-index: 4;
}
#route-content > *,
#route-content > .app-current-tab > * {
  display: none;
}
#router,
#route-content,
#route-content > .app-current-tab {
  display: block;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.btn-avatar {
  width: 65px;
  height: 65px;
  position: relative;
}
.btn-avatar .badge {
  border: 2px solid $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 13px;
  left: 13px;
}
.btn-avatar.has-new .badge {
  display: block;
}

#search-results {
  position: absolute;
  display: none;
  z-index: 9;
  margin-top: 1px;
}

// prevent window width change
/*
main.scrollable {
  max-height: 100vh;
}
main.scrollable > .ps-scrollbar-y-rail {
  z-index: 100;
}
main.scrollable > .main-content {
  padding-bottom: 60px;
}
*/
body {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
// fix modal window width bugs
.modal-open,
.modal-open .modal {
  padding-right: 0 !important;
}
.modal-open .topbar {
  padding-right: 18px;
}

// card control links
.card-btn-slide:not(:empty) {
  font-family: $font-body;
  transform: unset;
  color: $color-primary;
}
.card-btn-slide:not(:empty).rotate-180 {
  opacity: .3;
}
.card-btn-slide:not(:empty)::before {
  display: none;
}

.dock-list,
.modal-open .dock-list {
  z-index: 1001;
}
#dock-chat {
  max-width: 75%;
}
.dock-header-inverse .dock-actions > * {
  opacity: 1;
}

.app-backdrop.backdrop-quickview {
  z-index: 1002;
}
.quickview {
  z-index: 1003;
}

// fix icon alignment
.topbar-btn.sidebar-toggler {
  padding-top: 4px;
  line-height: 60px;
  font-size: 33px;
  margin-right: 10px;
}

// large search bar
#topbar-search .topbar-left,
#topbar-search .lookup {
  width: 100%;
}
.lookup-circle input {
  background-color: rgba($color-pale-purple, .3);
}
#topbar-search .lookup-circle input:focus {
  background-color: rgba($color-pale-purple, .6);
  color: $color-purple;
}

// second topbar with action buttons
#topbar-action {
  display: none;
}
#topbar-action h4 {
  margin-bottom: 0;
  font-weight: 500;
  color: rgba($white, .75);
  white-space: nowrap;
}
#topbar-action .topbar-left {
  height: 100%;
}
#topbar-action .topbar-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 20px 0 80px;
  background: linear-gradient(to right, rgba($color-purple, .1), $color-purple 20%);
}
#topbar-action .btn {
  margin-right: 12px;
}
#action-done {
  padding: 21px;
  margin-right: -20px;
  display: none;
  line-height: 1;
  font-size: 19px;
  font-weight: 400;
  background: $color-success;
}
#action-done > i {
  margin-right: 5px;
}

// JSON code editor
.ace-editor {
  height: 500px;
}

// resources list
.data-list,
.data-list > * {
  width: 100% !important;
  height: auto !important;
  overflow: hidden !important;
}
.data-list table,
.data-list tbody {
  display: block;
  table-layout: unset;
}
.data-list tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.data-list tr > * {
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 50px !important;
  border-left: none !important;
  border-bottom: none !important;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
}
.data-list-control {
  font-family: "Lucida Console", Monaco, monospace;
}
.data-list tr > .data-list-check,
.data-list tr > .data-list-control {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.data-list tr > .data-list-control {
  width: 90px !important;
}
.data-list td > .loading {
  margin: 0 auto;
  display: none;
}
.data-list td > .spinner-circle-shadow {
  margin-top: 3px;
}
.data-list-control-buttons {
  text-align: center;
}
.data-list-control i {
  cursor: pointer;
  font-size: 18px;
  margin: 7px 7px 0 0;
  color: $color-text-secondary;
  transition: 0.2s linear;
}
.data-list-control i:hover {
  color: $color-primary;
}
.data-list tr > .data-list-control i:last-child {
  margin-right: 0;
}
.data-list-check .custom-controls-stacked {
  width: 18px;
  display: block;
  margin: 0 auto;
}
.data-list-check .custom-controls-stacked .custom-control {
  margin-bottom: 0;
}
.list-pagination *:disabled {
  opacity: .25;
  cursor: not-allowed;
  background: none;
}

@media (max-width: 500px) {
  .topbar {
    padding-right: 6px;
  }
  .topbar-btn {
    padding: 0 4px;
    min-width: 34px;
  }

  .topbar-divider,
  .breadcrumb {
    display: none;
  }
}

#dashboard {
  display: none;
}

// utilities
.fs-200 {
  font-size: 200px;
}
