<div class="row no-margin py-40 px-20">
  <div class="col-12">
    <div class="card card-transparent mx-auto text-center">
      <h1 class="text-secondary lh-1 fs-200">408</h1>
      <hr class="w-30px mx-auto mb-30 mt-0">
      <h3 class="text-uppercase i18n">
        <span data-lang="en_us">Timeout</span>
        <span data-lang="pt_br">Tempo esgotado</span>
      </h3>
      <p class="lead i18n">
        <span data-lang="en_us">This route did not render in time, exhausted 10 seconds.</span>
        <span data-lang="pt_br">Esta rota não renderizou à tempo, esgotou 10 segundos.</span>
      </p>
    </div>
  </div>

  <script type="text/javascript">
    var lang = window.lang
    var title
    switch (lang) {
      case 'pt_br':
        title = 'Tempo esgotado'
        break
      default:
        title = 'Timeout'
    }
    window.routeReady(title)
  </script>
</div>
