<header class="header pt-3" style="display: block;">
  <div class="header-bar no-border row" id="apps">
      <div class="header-bar no-border">
        <h1>
          <span data-lang="en_us" style="display: none">Aplications</span>
          <span data-lang="pt_br"><strong>Aplicativos</strong></span>
        </h1>
        <span class="pagination-arrows">
          <i data-id="pagination-prev" class="ti-arrow-left"></i>
          <i data-id="pagination-next" class="ti-arrow-right"></i>
        </span>
        <span class="document-dates">
          <i class="ti-calendar"></i><span data-id="created-at"></span>
          <i class="ti-save"></i><span data-id="updated-at"></span>
        </span>
        <ol class="breadcrumb" id="breadcrumbs">
          <li class="breadcrumb-item">
            <a href="/#/">
              <i class="fa fa-home"></i> Home
            </a>
          </li>
          <li class="breadcrumb-item"><i class="fa fa-puzzle-piece"></i> Aplicativos</li>
      </div>
  </div>
</header>
<div class="main-content" style="display: block;">
  <div id="admin-marketplace"></div>
</div>
<div>
  <script type="text/javascript">
    window.routeReady()
    // wait for second script loading before form setup
    window.Tabs[window.tabId].wait = true
    ecomUtils.$ecomConfig.set('lang', window.lang)
    $.getScript('https://cdn.jsdelivr.net/npm/@ecomplus/admin-marketplace@0.2.18/dist/js/app.js')
  </script>
</div>
