<div class="main-content">
  <div class="card">
    <div class="card-title">
      <big class="text-secondary mr-1">
        <i class="fa fa-line-chart"></i>
      </big>
      <big class="i18n fw-400">
        <span data-lang="en_us">Best sellers</span>
        <span data-lang="pt_br">Mais vendidos</span>
      </big>

      <div class="input-group float-right mt-4 mt-lg-0" id="datepicker-best-seller" data-provide="datepicker" style="width: 300px">
        <div class="input-group-prepend">
          <span class="input-group-text i18n">
            <span data-lang="en_us">From</span>
            <span data-lang="pt_br">De</span>
          </span>
        </div>
        <input type="text" class="form-control" data-when="start">
        <div class="input-group-prepend input-group-append">
          <span class="input-group-text i18n">
            <span data-lang="en_us">To</span>
            <span data-lang="pt_br">Até</span>
          </span>
        </div>
        <input type="text" class="form-control" data-when="end">
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 d-block">
                    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center;">
                      <div class="export pr-2 pl-2">
                        <a href="#" class="btn btn-info" id="export-best-seller">
                          <span class="i18n">
                            <span data-lang="pt_br">Exportar</span>
                            <span data-lang="en_us">Export</span>
                          </span>
                        </a>
                      </div>
                      <div class="form-group pr-2 pl-2 d-none d-md-block" style="min-width: 33%;">
                        <label>
                          <span class="search-category i18n">
                            <span data-lang="pt_br">Filtrar por categoria</span>
                            <span data-lang="en_us">Filter by category</span>
                          </span>
                        </label>
            
                        <select class="form-control show-tick pr-2 pl-2" data-live-search="true" name="resource"
                          placeholder="Camisas"
                          data-json="true"
                          id="searchCategory">
                        </select>
                      </div>
                      <div class="lookup float-right" style="max-width: 50%">
                        <input type="text" id="search-best-seller" class="form-control" placeholder="SKU">
                      </div>
                    </div>
                    <table id="best-seller-list" data-toggle="table" class="report-table table table-responsive-sm table-striped table-bordered">
                      <thead>
                        <tr>
                          <th width="20%">
                            SKU
                          </th>
                          <th class="i18n" width="50%">
                            <span data-lang="en_us">Name</span>
                            <span data-lang="pt_br">Nome</span>
                          </th>
                          <th class="i18n" width="12%">
                            <span data-lang="en_us">Average Price</span>
                            <span data-lang="pt_br">Preço médio</span>
                          </th>
                          <th class="i18n">
                            <span data-lang="en_us">Sold</span>
                            <span data-lang="pt_br">Vendidos</span>
                          </th>
                          <th class="i18n">
                            <span data-lang="en_us">Total</span>
                            <span data-lang="pt_br">Total</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    <nav>
                      <ul id="pagination-best-seller" class="pagination justify-content-center">
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
