<div class="main-content">
  <div class="card">
    <div class="card-title">
      <big class="text-secondary mr-1">
        <i class="fa fa-line-chart"></i>
      </big>
      <big class="i18n fw-400">
        <span data-lang="en_us">Best sellers</span>
        <span data-lang="pt_br">Mais vendidos</span>
      </big>

      <div class="input-group float-right" id="datepicker" data-provide="datepicker" style="width: 300px">
        <div class="input-group-prepend">
          <span class="input-group-text i18n">
            <span data-lang="en_us">From</span>
            <span data-lang="pt_br">De</span>
          </span>
        </div>
        <input type="text" class="form-control" data-when="start">
        <div class="input-group-prepend input-group-append">
          <span class="input-group-text i18n">
            <span data-lang="en_us">To</span>
            <span data-lang="pt_br">Para</span>
          </span>
        </div>
        <input type="text" class="form-control" data-when="end">
      </div>
    </div>

    <div class="card-body">
      <a href="#" class="btn btn-info float-left" id="export-best-seller">
        <span class="i18n">
          <span data-lang="pt_br">Exportar</span>
          <span data-lang="en_us">Export</span>
        </span>
      </a>
      <table id="most-sellers-table" class="table table-striped table-bordered" cellspacing="0">
        <thead>
          <tr>
            <th width="20%">
              SKU
            </th>
            <th class="i18n" width="50%">
              <span data-lang="en_us">Name</span>
              <span data-lang="pt_br">Nome</span>
            </th>
            <th class="i18n" width="12%">
              <span data-lang="en_us">Average Price</span>
              <span data-lang="pt_br">Preço médio</span>
            </th>
            <th class="i18n">
              <span data-lang="en_us">Sold</span>
              <span data-lang="pt_br">Vendidos</span>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <div class="mt-20 text-center">
        <button class="btn btn-primary" id="most-sellers-table-load">
          <i class="fa fa-refresh fa-spin mr-1"></i>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>
