<div class="main-content">
  <div class="card">
    <div class="card-title">
      <big class="text-secondary mr-1">
        <i class="icon fa fa-mobile"></i>
      </big>
      <big class="i18n fw-400">
        <span data-lang="en_us">Orders by device</span>
        <span data-lang="pt_br">Pedidos por dispositivo</span>
      </big>

      <div class="input-group float-right" id="datepicker-orders-device" data-provide="datepicker" style="width: 300px">
        <div class="input-group-prepend">
          <span class="input-group-text i18n">
            <span data-lang="en_us">From</span>
            <span data-lang="pt_br">De</span>
          </span>
        </div>
        <input type="text" class="form-control" data-when="start">
        <div class="input-group-prepend input-group-append">
          <span class="input-group-text i18n">
            <span data-lang="en_us">To</span>
            <span data-lang="pt_br">Até</span>
          </span>
        </div>
        <input type="text" class="form-control" data-when="end">
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <canvas id="device-report" class="chartjs" style="display: block; height: 192px; width: 384px;"></canvas>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <canvas id="count-distributed" class="chartjs"
                style="display: block; height: 192px; width: 384px;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-title">
              <big class="i18n fw-400">
                <span data-lang="en_us">Total amount distributed</span>
                <span data-lang="pt_br">Montante total distribuído</span>
              </big>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <canvas id="amount-distributed-percent" class="chartjs"
                style="display: block; height: 192px; width: 384px;"></canvas>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <canvas id="amount-distributed" class="chartjs"
                style="display: block; height: 192px; width: 384px;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <header class="card-header">
              <h4 class="card-title i18n">
                <span data-lang="en_us">Summary</span>
                <span data-lang="pt_br">Resumo</span>
              </h4>
              <ul class="card-controls">
                <li>
                  <a class="card-btn-slide" href="#"></a>
                </li>
              </ul>
            </header>
            <div class="card-content">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3 mt-4">
                      <a href="#" class="btn btn-info" id="export-device">
                        <span class="i18n">
                          <span data-lang="pt_br">Exportar</span>
                          <span data-lang="en_us">Export</span>
                        </span>
                      </a>
                    </div>
                    <table id="device-list" class="display" style="width:100%">
                      <thead>
                        <tr>
                          <th class="i18n">
                            <span data-lang="en_us">Device</span>
                            <span data-lang="pt_br">Dispositivo</span>
                          </th>
                          <th class="i18n">
                            <span data-lang="en_us">Orders</span>
                            <span data-lang="pt_br">Pedidos</span>
                          </th>
                          <th class="i18n">
                            <span data-lang="en_us">Average ticket</span>
                            <span data-lang="pt_br">Ticket médio</span>
                          </th>
                          <th>
                            <span data-lang="en_us">Revenue</span>
                            <span data-lang="pt_br">Receita</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>