<header class="header pt-3" style="display: block;">
  <div class="header-bar no-border row" id="home-cards">
      <div class="col-md-4" style="text-align: center">
        <h1 id="home-name"><strong></strong></h1>
      </div>
      <div class="col-md-4" style="text-align: center">
        <h5 style="margin-bottom: 0em">Store ID</h5><span id="home-id"></span>
      </div>
      <div class="col-md-4" style="text-align: center">
        <h5 style="margin-bottom: 0em">Object ID</h5><span id="home-object"></span>
      </div>
      <span class="pagination-arrows">
        <i data-id="pagination-prev" class="ti-arrow-left"></i>
        <i data-id="pagination-next" class="ti-arrow-right"></i>
      </span>
      <span class="document-dates">
        <i class="ti-calendar"></i><span data-id="created-at"></span>
        <i class="ti-save"></i><span data-id="updated-at"></span>
      </span>
  </div>
</header>
<div class="main-content" style="display: block;">
  <div class="row" id="cards-graphs-amount">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-primary">
          <div class="flexbox mb-20">
            <h6 class="text-uppercase text-white">
              <span data-lang="en_us" style="display: none">Today</span>
              <span data-lang="pt_br">Hoje</span>
            </h6>
          </div>
          <div data-width="100%" data-height="80" data-fill-color="false" data-line-color="#fff" data-line-width="2" data-spot-radius="0" data-highlight-line-color="#fff">
            <span data-lang="pt_br" style="font-size: 25px">R$ <strong id="dayAmount">0,00</strong></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-info">
          <div class="flexbox mb-20">
            <h6 class="text-uppercase text-white">
              <span data-lang="en_us" style="display: none">Total paid in a Month</span>
              <span data-lang="pt_br">Faturado no Mês</span>
            </h6>
          </div>
          <div data-width="100%" data-height="80" data-fill-color="false" data-line-color="#fff" data-line-width="2" data-spot-radius="0" data-highlight-line-color="#fff">
            <span data-lang="pt_br" style="font-size: 25px">R$ <strong id="monthAmount">0,00</strong></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-purple">
          <div class="flexbox mb-20">
            <h6 class="text-uppercase text-white">
              <span>Aprovados no Mês</span>
            </h6>
          </div>
          <div data-width="100%" data-height="80" data-fill-color="false" data-line-color="#fff" data-line-width="2" data-spot-radius="0" data-highlight-line-color="#fff">
            <span data-lang="pt_br" style="font-size: 25px"><strong id="approved">0.0</strong>% | <span id="monthTotalOrdersApproved">0</span> de <span id="monthTotalOrders">0</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="cards-graphs-amount-last">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-success">
          <div class="flexbox mb-20">
            <h6 class="text-uppercase text-white">
              <span data-lang="en_us" style="display: none">Yesterday</span>
              <span data-lang="pt_br">Ontem</span>
            </h6>
          </div>
          <div data-width="100%" data-height="80" data-fill-color="false" data-line-color="#fff" data-line-width="2" data-spot-radius="0" data-highlight-line-color="#fff">
            <span data-lang="pt_br" style="font-size: 25px">R$ <strong id="lastDayAmount">0,00</strong></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-warning">
          <div class="flexbox mb-20">
            <h6 class="text-uppercase text-white">
              <span data-lang="en_us" style="display: none">Total paid in last Month</span>
              <span data-lang="pt_br">Faturado no Mês Passado</span>
            </h6>
          </div>
          <div data-width="100%" data-height="80" data-fill-color="false" data-line-color="#fff" data-line-width="2" data-spot-radius="0" data-highlight-line-color="#fff">
            <span data-lang="pt_br" style="font-size: 25px">R$ <strong id="lastMonthAmount">0,00</strong></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-dark">
          <div class="flexbox mb-20">
            <h6 class="text-uppercase text-white">
              <span>Aprovados no Mês Passado</span>
            </h6>
          </div>
          <div data-width="100%" data-height="80" data-fill-color="false" data-line-color="#fff" data-line-width="2" data-spot-radius="0" data-highlight-line-color="#fff">
            <span data-lang="pt_br" style="font-size: 25px"><strong id="lastApproved">0.0</strong>% | <span id="lastMonthTotalOrdersApproved">0</span> de <span id="lastMonthTotalOrders">0</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="cards-graphs-orders" style="display: none">
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-title"><strong>Pedidos</strong></h4>
        <div class="card-body" id="cardOrder">
          <canvas id="orderOfAll" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card" id="lastOrders">
        <h4 class="card-title">Últimos<strong> Pedidos</strong></h4>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID do Pedido</th>
                <th>Status</th>
                <th>Valor do Pedido</th>
                <th>Cliente</th>
              </tr>
            </thead>
            <tbody id="addOrders">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <script type="text/javascript">
    window.routeReady()
    // wait for second script loading before form setup
    window.Tabs[window.tabId].wait = true
    // $.getScript('/assets/js/routes/resources/form.min.js')
    // $.getScript('/assets/js/routes/resources/form/home.min.js')
  </script>
</div>
