<div class="main-content">
  <div class="card">
    <div class="card-title">
      <big class="text-secondary mr-1">
        <i class="fa fa-archive"></i>
      </big>
      <big class="i18n fw-400">
        <span data-lang="en_us">Inventory</span>
        <span data-lang="pt_br">Inventário</span>
      </big>
    </div>

    <div class="card-body">
      <table id="inventory-table" class="table table-striped table-bordered" cellspacing="0">
        <thead>
          <tr>
            <th width="20%">
              SKU
            </th>
            <th class="i18n" width="50%">
              <span data-lang="en_us">Name</span>
              <span data-lang="pt_br">Nome</span>
            </th>
            <th class="i18n" width="12%">
              <span data-lang="en_us">Price</span>
              <span data-lang="pt_br">Preço</span>
            </th>
            <th class="i18n">
              <span data-lang="en_us">Stock</span>
              <span data-lang="pt_br">Estoque</span>
            </th>
            <th class="i18n">
              <span data-lang="en_us">Sold</span>
              <span data-lang="pt_br">Vendidos</span>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <div class="mt-20 text-center">
        <button class="btn btn-primary" id="inventory-load">
          <i class="fas fa-sync fa-spin mr-1"></i>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>
