<header class="header pt-3">
  <div class="header-bar no-border">
    <h1 data-id="resource-name"></h1>
    <span class="pagination-arrows">
      <i data-id="pagination-prev" class="ti-arrow-left"></i>
      <i data-id="pagination-next" class="ti-arrow-right"></i>
    </span>
    <span class="document-dates fs-12">
      <i class="ti-calendar"></i><span data-id="created-at"></span>
      <i class="ti-save"></i><span data-id="updated-at"></span>
    </span>
    <div class="text-right">
      <ol class="breadcrumb mb-0" data-id="breadcrumbs">
        <li class="breadcrumb-item">
          <a href="/#/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
      </ol>
      <div data-id="document-codes"></div>
    </div>
  </div>

  <div class="header-action">
    <nav class="nav" data-id="nav">
      <a class="nav-link active" data-toggle="tab" data-id-href="tab-normal">
        <i class="ti-pencil-alt"></i>
        <span class="hidden-md-down">
          Normal
        </span>
      </a>
      <a data-id="code-tab" style="display: none" class="nav-link" data-toggle="tab" data-id-href="tab-json">
        <i class="ti-bolt-alt"></i>
        <span class="i18n hidden-md-down">
          <span data-lang="en_us">Advanced</span>
          <span data-lang="pt_br">Avançado</span>
        </span>
      </a>
      <a href="javascript:;" class="nav-link edit-btn border-danger" data-id="delete">
        <i class="ti-trash"></i>
        <span class="i18n hidden-xs-down">
          <span data-lang="en_us">Delete</span>
          <span data-lang="pt_br">Deletar</span>
        </span>
      </a>
      <a href="javascript:;" class="nav-link edit-btn border-success" data-id="new">
        <i class="ti-plus"></i>
        <span class="i18n">
          <span data-lang="en_us">New</span>
          <span data-lang="pt_br">Novo</span>
        </span>
      </a>

      <a href="javascript:;" class="nav-link edit-btn border-info" data-id="duplicate">
        <i class="ti-layers"></i>
        <span class="i18n hidden-md-down">
          <span data-lang="en_us">Duplicate</span>
          <span data-lang="pt_br">Duplicar</span>
        </span>
      </a>
      <a href="javascript:;" class="nav-link edit-btn" data-id="facebook" aria-label="Facebook share">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="javascript:;" class="nav-link edit-btn" data-id="whatsapp" aria-label="Whatsapp share">
        <i class="fa fa-whatsapp"></i>
      </a>
      <a href="javascript:;" class="nav-link edit-btn" data-id="view">
        <i class="ti-link"></i>
        <span class="i18n hidden-md-down">
          <span data-lang="en_us">View</span>
          <span data-lang="pt_br">Ver</span>
        </span>
      </a>

      <div class="dropdown">
        <button
          class="nav-link edit-btn border-gray dropdown-toggle"
          data-toggle="dropdown"
          data-list="*"
        >
          <i class="ti-exchange-vertical"></i>
          <span class="i18n hidden-md-down">
            <span data-lang="en_us">Table</span>
            <span data-lang="pt_br">Tabela</span>
          </span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item i18n" href="#" data-id="export">
            <span data-lang="en_us">Export</span>
            <span data-lang="pt_br">Exportar</span>
          </a>
          <a class="dropdown-item i18n" href="#" data-id="import">
            <span data-lang="en_us">Import</span>
            <span data-lang="pt_br">Importar</span>
          </a>
          <a class="dropdown-item i18n" href="#" data-id="export-all">
            <span data-lang="en_us">Export all</span>
            <span data-lang="pt_br">Exportar todos</span>
          </a>
        </div>
      </div>

      <div class="dropdown">
        <button
          class="nav-link edit-btn border-dark dropdown-toggle"
          data-toggle="dropdown"
          data-list="orders"
        >
          <i class="ti-printer"></i>
          <span class="i18n hidden-md-down">
            <span data-lang="en_us">Print</span>
            <span data-lang="pt_br">Impressão</span>
          </span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item i18n" href="#" data-id="invoices">
            <span data-lang="en_us">Invoices</span>
            <span data-lang="pt_br">Romaneios</span>
          </a>
          <a class="dropdown-item i18n" href="#" data-id="shipping-tags">
            <span data-lang="en_us">Shipping tag</span>
            <span data-lang="pt_br">Etiquetas de envio</span>
          </a>
          <a class="dropdown-item" href="#" data-id="correios-enderecador">
            Correios: endereçador
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="spinner-linear position-absolute" data-id="loading" style="display: none; height: 4px">
    <div class="line"></div>
  </div>
</header>

<div class="main-content">
  <div class="ajax-content">
    <div class="spinner-linear">
      <div class="line"></div>
    </div>

    <div class="tab-content">
      <div class="tab-pane fade active show" data-id="tab-normal">
      </div>
      <div class="tab-pane fade" data-id="tab-json">
        <div class="card">
          <div class="card-body">
            <div class="callout callout-warning" role="alert">
              <button type="button" class="close" data-dismiss="callout" aria-label="Close">
                <span>&times;</span>
              </button>
              <h5 class="i18n">
                <span data-lang="en_us">Be careful!</span>
                <span data-lang="pt_br">Tome cuidado!</span>
              </h5>
              <p class="i18n">
                <span data-lang="en_us">
                  It may not be a good idea to directly edit the code below,
                  do this only if you know <strong>JSON</strong>.
                </span>
                <span data-lang="pt_br">
                  Pode não ser uma boa ideia editar diretamente o código abaixo,
                  faça isto apenas se tiver conhecimento em <strong>JSON</strong>.
                </span>
              </p>
            </div>
            <div data-id="code-editor" class="ace-editor"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
