<div class="main-content">
  <form id="settings-form" action="javascript:;" class="mb-30 needs-validation" novalidate >
    <input type="hidden" class="action-title">

    <div class="row">
      <div class="col-xl-3 col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label class="i18n require">
                <span data-lang="en_us">Store name</span>
                <span data-lang="pt_br">Nome da loja</span>
              </label>
              <input type="text" name="name" class="form-control" maxlength="255"
                placeholder="CoolShop" required />
            </div>

            <div class="form-group">
              <label class="i18n require">
                <span data-lang="en_us">Store domain</span>
                <span data-lang="pt_br">Domínio da loja</span>
              </label>
              <input type="text" name="domain" class="form-control" minlength="4" maxlength="255"
                pattern="[0-9a-z-.]+" required />
            </div>
            <div class="form-group">
              <label class="i18n">
                <span data-lang="en_us">Shop homepage</span>
                <span data-lang="pt_br">Link da página inicial</span>
              </label>
              <input type="text" name="homepage" class="form-control" maxlength="255"
                pattern="https?:\/\/[0-9a-z-.]+\/?.*">
            </div>

            <div class="form-group">
              <label class="i18n">
                <span data-lang="en_us">Contact email</span>
                <span data-lang="pt_br">E-mail de contato</span>
              </label>
              <input type="email" name="contact_email" class="form-control">
            </div>
            <div class="form-group">
              <label class="i18n">
                <span data-lang="en_us">Contact phone</span>
                <span data-lang="pt_br">Telefone de contato</span>
              </label>
              <input type="tel" name="contact_phone" class="form-control" data-mask="tel" data-digits="true">
            </div>
          </div>

          <footer class="card-footer">
            <p class="fs-16 my-2">
              <samp>
                <span class="opacity-60">Store ID</span>
                <span id="settings-store-id">#</span>
              </samp>
            </p>
          </footer>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 col-12">
        <div class="card">
          <header class="card-header">
            <h4 class="card-title i18n">
              <span data-lang="en_us">Brand colors</span>
              <span data-lang="pt_br">Cores da marca</span>
            </h4>
            <ul class="card-controls">
              <li>
                <a class="card-btn-slide" href="#"></a>
              </li>
            </ul>
          </header>

          <div class="card-content">
            <div class="card-body">
              <div class="form-row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="i18n">
                      <span data-lang="en_us">Primary Color</span>
                      <span data-lang="pt_br">Cor primária</span>
                    </label>
                    <div class="minicolors minicolors-theme-bootstrap">
                      <input type="text" class="form-control minicolors-input"
                        name="brand_colors.primary" data-control="wheel" size="7"
                        data-provide="colorpicker" data-position="top left">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="i18n">
                      <span data-lang="en_us">Secondary color</span>
                      <span data-lang="pt_br">Cor secundária</span>
                    </label>
                    <div class="minicolors minicolors-theme-bootstrap">
                      <input type="text" class="form-control minicolors-input"
                        name="brand_colors.secondary" data-control="wheel" size="7"
                        data-provide="colorpicker" data-position="top left">
                    </div>
                  </div>
                </div>
              </div>

              <div class="callout callout-info" role="alert">
                <span class="i18n">
                  <span data-lang="en_us" class="form-text">
                    Colors used on storefront and email templates by default.
                  </span>
                  <span data-lang="pt_br" class="form-text">
                    Cores usadas na frente de loja e templates de e-mail por padrão.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <header class="card-header">
            <h4 class="card-title i18n">
              <span data-lang="en_us">Full address</span>
              <span data-lang="pt_br">Endereço completo</span>
            </h4>
            <ul class="card-controls">
              <li>
                <a class="card-btn-slide" href="#"></a>
              </li>
            </ul>
          </header>

          <div class="card-content">
            <div class="card-body">
              <div class="form-group">
                <textarea class="form-control" maxlength="255" name="address" rows="2" required ></textarea>
                <span class="i18n">
                  <small data-lang="en_us" class="form-text">
                    Street, number, neighboor, city, state, complement
                  </small>
                  <small data-lang="pt_br" class="form-text">
                    Rua, número, bairro, cidade, estado (UF), complemento
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <header class="card-header">
            <h4 class="card-title i18n">
              <span data-lang="en_us">Shop description</span>
              <span data-lang="pt_br">Descrição da loja</span>
            </h4>
            <ul class="card-controls">
              <li>
                <a class="card-btn-slide" href="#"></a>
              </li>
            </ul>
          </header>

          <div class="card-content">
            <div class="card-body">
              <div class="form-group">
                <textarea class="form-control" maxlength="3000" name="description" rows="6"></textarea>
                <span class="i18n">
                  <small data-lang="en_us" class="form-text">
                    Short description about your store and company
                  </small>
                  <small data-lang="pt_br" class="form-text">
                    Descrição curta sobre sua loja e empresa
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-12">
        <div class="card card-slided-up">
          <header class="card-header">
            <h6 class="card-title i18n">
              <span data-lang="en_us">Financial</span>
              <span data-lang="pt_br">Financeiro</span>
            </h6>
            <ul class="card-controls">
              <li>
                <a class="card-btn-slide i18n" href="#">
                  <span data-lang="en_us">Edit corporate info</span>
                  <span data-lang="pt_br">Editar informações da empresa</span>
                </a>
              </li>
            </ul>
          </header>

          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="i18n">
                      <span data-lang="en_us">Type of Register</span>
                      <span data-lang="pt_br">Tipo de Registro</span>
                    </label>
                    <div class="custom-controls-stacked">
                      <div class="custom-control custom-radio d-inline">
                        <input type="radio" class="custom-control-input" name="doc_type" value="CPF">
                        <label class="custom-control-label i18n pr-15">
                          <span data-lang="en_us">Physical</span>
                          <span data-lang="pt_br">Física</span>
                        </label>
                      </div>
                      <div class="custom-control custom-radio d-inline">
                        <input type="radio" class="custom-control-input" name="doc_type" value="CNPJ">
                        <label class="custom-control-label i18n">
                          <span data-lang="en_us">Juridical</span>
                          <span data-lang="pt_br">Jurídica</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="require">
                      <span data-doc-type="CPF">CPF</span>
                      <span style="display: none" data-doc-type="CNPJ">CNPJ</span>
                    </label>
                    <input type="tel" class="form-control" name="doc_number" data-digits="true" required />
                  </div>
                  <div style="display: none" data-doc-type="CNPJ">
                    <div class="form-group">
                      <label class="i18n">
                        <span data-lang="en_us">Inscription type</span>
                        <span data-lang="pt_br">Tipo de inscrição</span>
                      </label>
                      <div class="custom-controls-stacked">
                        <div class="custom-control custom-radio d-inline">
                          <input type="radio" class="custom-control-input" name="inscription_type" value="State">
                          <label class="custom-control-label i18n pr-15">
                            <span data-lang="en_us">State</span>
                            <span data-lang="pt_br">Estadual</span>
                          </label>
                        </div>
                        <div class="custom-control custom-radio d-inline">
                          <input type="radio" class="custom-control-input" name="inscription_type" value="Municipal">
                          <label class="custom-control-label">Municipal</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="i18n">
                        <span data-lang="en_us">Inscription number</span>
                        <span data-lang="pt_br">Número de inscrição</span>
                      </label>
                      <input type="tel" class="form-control" name="inscription_number" maxlength="50">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="i18n require">
                      <span data-lang="en_us">Financial email</span>
                      <span data-lang="pt_br">E-mail financeiro</span>
                    </label>
                    <input type="email" class="form-control" name="financial_email" required />
                  </div>
                  <div class="form-group">
                    <label class="i18n require">
                      <span data-lang="en_us">Corporate name</span>
                      <span data-lang="pt_br">
                        <span data-doc-type="CPF">Nome completo</span>
                        <span style="display: none" data-doc-type="CNPJ">Razão social</span>
                      </span>
                    </label>
                    <input type="text" class="form-control" name="corporate_name" maxlength="255" required />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <header class="card-header">
            <h4 class="card-title i18n">
              <span data-lang="en_us">Products feed</span>
              <span data-lang="pt_br">Feed de produtos</span>
            </h4>
            <ul class="card-controls">
              <li>
                <a class="card-btn-slide" href="#"></a>
              </li>
            </ul>
          </header>

          <div class="card-content">
            <div class="card-body">
              <div class="form-group">
                <label>XML Google Shopping / Facebook</label>
                <input id="products-feed-uri" type="text" class="form-control"
                  placeholder="Necessário configurar o domínio primeiro" readonly />
                <span class="i18n">
                  <small data-lang="en_us">
                    If you have more than 500 products, contact us in to support
                  </small>
                  <small data-lang="pt_br">
                    Caso tenha mais de 500 produtos, entre em contato com o suporte
                  </small>
                </span>
                <br>
                <a class="i18n" href="javascript:;" id="xml-more-options">
                  <span data-lang="en_us">Config more options in xml</span>
                  <span data-lang="pt_br">Configurar mais opções no xml</span>
                </a>
                <div class="form-group mt-3" style="display: none;" id="xml-options">
                  <div class="custom-controls-stacked" id="all-products">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="all-products-input">
                      <label class="custom-control-label i18n">
                        <span data-lang="en_us">List all products <small data-lang="en_us">
                          Only if has +500 products
                        </small></span>
                        <span data-lang="pt_br">Mostrar todos produtos <small data-lang="pt_br">
                          Apenas se tiver +500 produtos
                        </small></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group" id="id-categoria-google">
                    <label class="i18n">
                      <span data-lang="en_us">Google category ID</span>
                      <span data-lang="pt_br">ID da categoria Google</span>
                    </label>
                    <input type="number" class="form-control" id="id-categoria-google-input"/>
                    <span class="i18n">
                      <small data-lang="en_us"><a target="_blank" href="http://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.xls">List with Google Taxonomy to download</a></small>
                      <small data-lang="pt_br"><a target="_blank" href="http://www.google.com/basepages/producttype/taxonomy-with-ids.pt-BR.xls">Download de lista com ID da categoria Google</a></small>
                    </span>
                  </div>
                  <div class="form-group" id="filter-resource-option">
                    <label class="i18n">
                      <span data-lang="en_us">Filter</span>
                      <span data-lang="pt_br">Filtro</span>
                    </label>
                    <div class="custom-controls-stacked">
                      <div class="custom-control custom-radio d-inline">
                        <input type="radio" class="custom-control-input" name="resource_slug" value="categories">
                        <label class="custom-control-label i18n">
                          <span data-lang="en_us">Category</span>
                          <span data-lang="pt_br">Categoria</span>
                        </label>
                      </div>
                      <div class="custom-control custom-radio d-inline">
                        <input type="radio" class="custom-control-input" name="resource_slug" value="collections">
                        <label class="custom-control-label i18n">
                          <span data-lang="en_us">Collection</span>
                          <span data-lang="pt_br">Coleção</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" style="display: none" id="filter-resource">
                    <label>
                      <span class="filter-resource-name"></span>
                    </label>
                    <select class="form-control show-tick" data-live-search="true"
                      placeholder="Camisas"
                      id="filter-resource-input">
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bt-1 pt-20">
      <button class="btn btn-success i18n mr-10">
        <span data-lang="en_us">Save settings</span>
        <span data-lang="pt_br">Salvar configurações</span>
      </button>
    </div>
  </form>
</div>
