<ul class="quickview-header nav nav-tabs nav-justified nav-tabs-info">
  <li class="nav-item">
    <a class="nav-link i18n" data-toggle="tab" href="#qv-tab-settings">
      <span data-lang="en_us">Preferences</span>
      <span data-lang="pt_br">Preferências</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link i18n active" data-toggle="tab" href="#qv-tab-notifications">
      <span data-lang="en_us">Notifications</span>
      <span data-lang="pt_br">Notificações</span>
    </a>
  </li>
</ul>

<div class="quickview-body">
  <div class="tab-content">
    <div class="tab-pane fade" id="qv-tab-settings">
      <div class="media-list media-list-divided media-list-hover">
        <div class="media">
          <div class="media-body">
            <p class="i18n">
              <strong data-lang="en_us">Sidebar open</strong>
              <strong data-lang="pt_br">Menu lateral aberto</strong>
            </p>
            <p class="i18n">
              <span data-lang="en_us">Displays icons and titles</span>
              <span data-lang="pt_br">Mostra ícones e títulos</span>
            </p>
          </div>
          <label class="switch">
            <input type="checkbox" onchange="sidebar.toggleFold()">
            <span class="switch-indicator"></span>
          </label>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="i18n">
              <strong data-lang="en_us">Light sidebar</strong>
              <strong data-lang="pt_br">Menu lateral claro</strong>
            </p>
            <p class="i18n">
              <span data-lang="en_us">White background</span>
              <span data-lang="pt_br">Fundo branco</span>
            </p>
          </div>
          <label class="switch">
            <input type="checkbox" onchange="$('.sidebar').toggleClass('sidebar-light')">
            <span class="switch-indicator"></span>
          </label>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="i18n">
              <strong data-lang="en_us">Unfixed top bar</strong>
              <strong data-lang="pt_br">Barra superior não fixa</strong>
            </p>
            <p class="i18n">
              <span data-lang="en_us">Will not always be visible</span>
              <span data-lang="pt_br">Não estará sempre visível</span>
            </p>
          </div>
          <label class="switch">
            <input type="checkbox" onchange="topbar.toggleFix()">
            <span class="switch-indicator"></span>
          </label>
        </div>
      </div>

      <div class="dropdown p-20 bt-2">
        <span class="btn fs-13" data-toggle="dropdown" id="current-lang">
          <img class="mr-10" height="14"><strong></strong>
        </span>
        <div class="dropdown-menu" id="langs-menu">
          <a class="dropdown-item" href="javascript:;" data-lang="en_us">
            <img class="mr-10" src="../assets/img/flag/United-States-of-America.png" height="15">
            English
          </a>
          <a class="dropdown-item" href="javascript:;" data-lang="pt_br">
            <img class="mr-10" src="../assets/img/flag/Brazil.png" height="15">
            Português
          </a>
        </div>
      </div>
    </div>

    <div class="tab-pane fade active show" id="qv-tab-notifications">
      <div class="bg-lightest py-10 px-20 text-right fs-14 bb-2">
        <a href="#" class="text-lighter mr-10">
          <i class="fa fa-trash"></i>
        </a>
        <a href="#" class="text-lighter">
          <i class="fa fa-repeat"></i>
        </a>
      </div>

      <div class="media-list media-list-hover media-list-divided">
        <a class="media" href="#">
          <span class="avatar bg-danger"><i class="ti-package"></i></span>
          <div class="media-body">
            <p>Package lost on the way!</p>
            <time datetime="2017-07-14 20:00">1 hour ago</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-success"><i class="ti-user"></i></span>
          <div class="media-body">
            <p>New user registered</p>
            <time datetime="2017-07-14 20:00">1 hour ago</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-purple"><i class="ti-comment"></i></span>
          <div class="media-body">
            <p>New review on <em>iPhone 6s</em></p>
            <time datetime="2017-07-14 20:00">3 hours ago</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
          <div class="media-body">
            <p>New order received</p>
            <time datetime="2017-07-14 20:00">5 hours ago</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-danger"><i class="fa fa-area-chart"></i></span>
          <div class="media-body">
            <p>CPU usage went above 80%</p>
            <time datetime="2017-07-14 20:00">Yesterday</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-yellow"><i class="fa fa-star"></i></span>
          <div class="media-body">
            <p>New rating on iPhone 6s, 5 star</p>
            <time datetime="2017-07-14 20:00">Yesterday</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-success"><i class="ti-user"></i></span>
          <div class="media-body">
            <p>New user registered</p>
            <time datetime="2017-07-14 20:00">Yesterday</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-primary"><i class="ti-money"></i></span>
          <div class="media-body">
            <p>New payment has made through PayPal</p>
            <time datetime="2017-07-14 20:00">2 days ago</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
          <div class="media-body">
            <p>New order received</p>
            <time datetime="2017-07-14 20:00">2 days ago</time>
          </div>
        </a>

        <a class="media" href="#">
          <span class="avatar bg-purple"><i class="ti-comment"></i></span>
          <div class="media-body">
            <p>New review on Samsung Galaxy S7</p>
            <time datetime="2017-07-14 20:00">Aug 17</time>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<footer class="quickview-footer flex-row-reverse">
  <a class="btn btn-sm btn-info btn-label text-white qv-close" href="/#/profile">
    <label><i class="ti-user"></i></label>
    <span class="i18n">
      <span data-lang="en_us">Profile</span>
      <span data-lang="pt_br">Perfil</span>
    </span>
  </a>
  <button class="btn btn-sm btn-secondary btn-label qv-close logout">
    <label><i class="ti-power-off"></i></label>
    <span class="i18n">
      <span data-lang="en_us">Logout</span>
      <span data-lang="pt_br">Sair</span>
    </span>
  </button>
</footer>
