<div class="card">
  <div class="card-body">
    <div data-id="preset-params" class="hide-empty text-right mb-2"></div>
    <div data-id="resource-list" class="data-list">
      <div class="spinner-linear">
        <div class="line"></div>
      </div>
    </div>

    <div class="row mt-20 justify-content-md-center no-gutters">
      <div class="col-auto">
        <div class="input-group w-140px list-pagination">
          <span class="input-group-prepend">
            <button class="btn btn-pure btn-primary" type="button" data-id="prev" disabled >
              <i class="ti-angle-left"></i>
            </button>
          </span>
          <input class="form-control text-center" maxlength="3" value="1" type="text" data-id="page" disabled />
          <span class="input-group-append">
            <button class="btn btn-pure btn-primary" type="button" data-id="next" disabled >
              <i class="ti-angle-right"></i>
            </button>
          </span>
        </div>
      </div>

      <div class="col-auto">
        <select data-provide="selectpicker" class="w-70px" data-id="page-size">
          <option value="30">30</option>
          <option value="60" selected >60</option>
          <option value="120">120</option>
          <option value="240">240</option>
          <option value="480">480</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div data-id="orders-statistics" class="row" style="display: none">
  <div class="col-12 col-md">
    <div class="card card-body" style="min-height: 118px">
      <h6 class="text-info">
        <span class="text-uppercase i18n">
          <span data-lang="en_us">Total on list</span>
          <span data-lang="pt_br">Total na lista</span>
        </span>
      </h6>
      <br>
      <span data-id="orders-total" class="fw-100 fs-40"></span>
    </div>
  </div>

  <div class="col-12 col-md">
    <div class="card card-body" style="min-height: 118px">
      <h6 class="text-success">
        <span class="text-uppercase i18n">
          <span data-lang="en_us">Confirmed</span>
          <span data-lang="pt_br">Confirmado</span>
        </span>
      </h6>
      <br>
      <p class="fs-28">
        <span data-id="orders-approved-pc"></span>
        <span data-id="orders-approved" class="text-muted fs-18"></span>
      </p>
      <div class="progress">
        <div
          data-id="orders-approved-bar"
          class="progress-bar bg-success"
          role="progressbar"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md">
    <div class="card card-body" style="min-height: 118px">
      <h6 class="text-danger">
        <span class="text-uppercase i18n">
          <span data-lang="en_us">Cancelled</span>
          <span data-lang="pt_br">Cancelado</span>
        </span>
      </h6>
      <br>
      <p class="fs-28">
        <span data-id="orders-cancelled-pc"></span>
        <span data-id="orders-cancelled" class="text-muted fs-18"></span>
      </p>
      <div class="progress">
        <div
          data-id="orders-cancelled-bar"
          class="progress-bar bg-danger"
          role="progressbar"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</div>
