<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1">
    <meta name="theme-color" content="#37003c">
    <link rel="icon" href="/img/favicon.png">

    <title>E-Com Plus Admin</title>
    <meta name="description" content="E-Com Plus Cloud Commerce Solution">
    <meta name="author" content="E-COM CLUB SOFTWARES PARA E-COMMERCE LTDA">
    <link rel="canonical" href="/">

    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <meta property="og:type" content="website">
    <meta property="og:title" content="E-Com Plus Dashboard App">
    <meta property="og:site_name" content="E-Com Plus Admin">
    <meta property="og:description" content="E-Com Plus Cloud Commerce Solution">
    <meta property="og:image" content="/img/og-img.png">
    <meta property="og:url" content="https://app.e-com.plus/">
    <meta name="twitter:card" content="summary_large_image">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="/assets/css/core.min.css" rel="stylesheet">
  </head>

  <body class="sidebar-folded" data-provide="pace">
    <script src="/assets/js/core.min.js"></script>
    <script src="/assets/js/app.min.js"></script>

    <script>
      app.config({
        autoload: true,
        provide: [
          'jsgrid',
          'summernote',
          'dropzone',
          'typeahead',
          'tagsinput',
          'selectpicker',
          'colorpicker',
          'datepicker',
          'chartjs'
        ],
        googleApiKey: '',
        googleAnalyticsId: '',
        smoothScroll: false,
        saveState: false,
        cacheBust: ''
      })
    </script>

    <script src="/assets/plugin/00-App.js" defer></script>
    <script src="/assets/plugin/ace/src-min-noconflict/ace.js" defer></script>
  </body>
</html>
