
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

// Force no caret for dropdowns
// Using FontAwesome icons
$enable-caret: false;
// Enable RFS by default if not specified by theme
$enable-responsive-font-sizes: true !default;

// Colors
$primary: #37003c;
